<% provide(:title, "Edit order") %>
<% provide(:title_header, "Edit order") %>

<%= render 'shared/header_dinamic' %><br>


      <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Dirección</th>
        </tr>
      </thead>
        <%= simple_form_for(@order) do |order| %>

        <div class="form-inputs">
          <div><strong>Defina los servicios</strong></div>
          <tbody>
            <% order.services.each_with_index do |service,i| %>
              <tr>
                <td> <input name = "date_<%= "#{i}" %>" value = <%= service.date %>></input></td>
                  
                <td>
                  <div class="field">
                   <div class="control">
                        <%= select_tag "address_#{i}", options_for_select(@addresses.keys, service.address.body)%>
                    </div>
                  </div>
                </td>


                <td><%= hidden_field_tag :price,@price%></td>
                <td><%= hidden_field_tag :order_id,@order_id%></td>
                <td><%= hidden_field_tag :num_dates,i+1%></td>

              </tr>
            <% end %>
          </tbody>
      </table>
      <br>
      <p>El valor total de sus servicios es de <strong> <%= number_to_currency(order.total_price)%> <strong>
     <br>
     <br>
       <div class="form-actions">
         <%= f.button :submit, class:"button is-info is-medium"  %>
       </div>
       <br>
       <br>
     <% end %>


        <%= render '../services/form' %>
        <%= render 'form', order: @order %>
        <%= link_to 'Ver', @order %> |
        <%= link_to 'Regresar', orders_path, class: "button"  %>
      </div>
    </div>
  </div>
</section>
